<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fyy.delyoj.mapper.UserScoreMapper">

    <resultMap id="BaseResultMap" type="com.fyy.delyoj.model.entity.UserScore">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="examId" column="examId" jdbcType="BIGINT"/>
            <result property="userId" column="userId" jdbcType="BIGINT"/>
            <result property="questionId" column="questionId" jdbcType="BIGINT"/>
            <result property="score" column="score" jdbcType="INTEGER"/>
            <result property="judgeResult" column="judgeResult" jdbcType="VARCHAR"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,examId,userId,
        questionId,score,judgeResult,
        createTime,updateTime,isDelete
    </sql>
</mapper>
